/*#result {
  display: none;
}*/

body {
  background-image: url("img/ping.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  text-shadow: 243, rgb(255, 20);
  color: rgb(244, 88, 166);
}
